header{
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  border: 16px solid #CF1010;
  padding: 16px;
  font-family: "Black Ops One", system-ui;
}
main {
  display: flex;
  background: #ffff;
  color: #183c63;
  text-align: center;
  max-width: 800px;
  margin top: 16px 0 auto;
  font-family: "Black Ops One", system-ui;
}
img{
  width: 80px;
  height: 80px;
}
.artigo-autor{
    color:#CF1010
}